In [1]:
!unzip UpdatedResumeDataSet.csv.zip

Archive:  UpdatedResumeDataSet.csv.zip
  inflating: UpdatedResumeDataSet.csv

In [2]:
import pandas as pd

In [3]:
!ls

sample_data  UpdatedResumeDataSet.csv  UpdatedResumeDataSet.csv.zip

In [4]:
data=pd.read_csv("/content/UpdatedResumeDataSet.csv")
data

         Category                                             Resume
0    Data Science  Skills * Programming Languages: Python (pandas...
1    Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2    Data Science  Areas of Interest Deep Learning, Control Syste...
3    Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4    Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...
..            ...                                                ...
957       Testing  Computer Skills: â¢ Proficient in MS office (...
958       Testing  â Willingness to accept the challenges. â ...
959       Testing  PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...
960       Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
961       Testing  Skill Set OS Windows XP/7/8/8.1/10 Database MY...

[962 rows x 2 columns]

In [5]:
type(data)

pandas.core.frame.DataFrame

In [6]:
import nltk

In [7]:
# nltk.download()
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [8]:
row=data.shape[0]
row

962

In [9]:
import re

In [10]:
for i in range(0,row):
  data["Resume"][i]=re.sub('[^A-Za-z]+', ' ', data["Resume"][i])

In [11]:
data

         Category                                             Resume
0    Data Science  Skills Programming Languages Python pandas num...
1    Data Science  Education Details May to May B E UIT RGPV Data...
2    Data Science  Areas of Interest Deep Learning Control System...
3    Data Science  Skills R Python SAP HANA Tableau SAP HANA SQL ...
4    Data Science  Education Details MCA YMCAUST Faridabad Haryan...
..            ...                                                ...
957       Testing  Computer Skills Proficient in MS office Word B...
958       Testing   Willingness to accept the challenges Positive...
959       Testing  PERSONAL SKILLS Quick learner Eagerness to lea...
960       Testing  COMPUTER SKILLS SOFTWARE KNOWLEDGE MS Power Po...
961       Testing  Skill Set OS Windows XP Database MYSQL sql ser...

[962 rows x 2 columns]

In [12]:
 for i in range(0,row):
  data["Resume"][i]=nltk.sent_tokenize(data["Resume"][i])

In [13]:
data.tail()

    Category                                             Resume
957  Testing  [Computer Skills Proficient in MS office Word ...
958  Testing  [ Willingness to accept the challenges Positiv...
959  Testing  [PERSONAL SKILLS Quick learner Eagerness to le...
960  Testing  [COMPUTER SKILLS SOFTWARE KNOWLEDGE MS Power P...
961  Testing  [Skill Set OS Windows XP Database MYSQL sql se...

In [14]:
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
nltk.download('stopwords')

stemmer=PorterStemmer()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [15]:
 for r in range(0,row):
   sentences=data["Resume"][r]
   for i in range(len(sentences)):
     words=nltk.word_tokenize(sentences[i])
     words=[stemmer.stem(words) for words in words if words not in set(stopwords.words('english'))]
     sentences[i]=' '.join(words)

In [16]:
data

         Category                                             Resume
0    Data Science  [skill program languag python panda numpi scip...
1    Data Science  [educ detail may may b e uit rgpv data scienti...
2    Data Science  [area interest deep learn control system desig...
3    Data Science  [skill r python sap hana tableau sap hana sql ...
4    Data Science  [educ detail mca ymcaust faridabad haryana dat...
..            ...                                                ...
957       Testing  [comput skill profici ms offic word basic exce...
958       Testing  [willing accept challeng posit think good lear...
959       Testing  [person skill quick learner eager learn new th...
960       Testing  [comput skill softwar knowledg ms power point ...
961       Testing  [skill set os window xp databas mysql sql serv...

[962 rows x 2 columns]

In [17]:
from nltk.stem import WordNetLemmatizer
lemmatizer=WordNetLemmatizer()

In [20]:
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Unzipping corpora/omw-1.4.zip.

True

In [21]:
 for r in range(0,row):
   sentences=data["Resume"][r]
   for i in range(len(sentences)):
     words=nltk.word_tokenize(sentences[i])
     words=[lemmatizer.lemmatize(words) for words in words if words not in set(stopwords.words('english'))]
     sentences[i]=' '.join(words)

In [22]:
data.head()

       Category                                             Resume
0  Data Science  [skill program languag python panda numpi scip...
1  Data Science  [educ detail may may b e uit rgpv data scienti...
2  Data Science  [area interest deep learn control system desig...
3  Data Science  [skill r python sap hana tableau sap hana sql ...
4  Data Science  [educ detail mca ymcaust faridabad haryana dat...

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer
cv=TfidfVectorizer()
for i in range(0,row):
  sentences=data["Resume"][i]
  data["Resume"][i]=cv.fit_transform(data["Resume"][i]).toarray()